@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Лабораторна робота №5</a>.</p>
    <p>виконав студент групи ІПЗ-41</a>.</p>
    <p>Іваненко Іван</a>.</p>
</div>
